* {
  margin: 0px;
  padding: 0px;
}

.contain {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-layer {
  border: 1px dashed gray;
}

.login-form {
  padding: 20px;
}

.form-element {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login,
.logout {
  width: 150px;
}

.message {
  padding: 20px;
}

.alert {
  margin-top: 20px;
}

.message {
  display: none;
}

.rules {
  display: none;
}
